<div class="page-container">
    <div nz-row [nzGutter]="[20,20]">
        <div nz-col nzXs="24" nzLg="16">
            <div class="order">
                <div class="order-header">
                    <div class="left">
                        <span class="reload" (click)="change()">
                            <span nz-icon nzType="reload"></span>
                            <span style="margin-left: 6px;">刷新</span>
                        </span>
                        <span style="margin-left: 20px;">
                            <span nz-icon nzType="line" nzTheme="outline" [style.color]="activeItem.color"></span>
                            <span style="margin-left: 6px;">{{ activeItem.title }}</span>
                        </span>
                    </div>
                    <div class="right">
                        <app-date-picker-range [placement]="['bottomLeft','bottomRight']" [(ngModel)]="times"
                            (ngModelChange)="change()">
                        </app-date-picker-range>
                    </div>
                </div>
                <div class="order-body">
                    <div #chart class="chart">

                    </div>
                </div>
            </div>
        </div>
        <div nz-col nzXs="24" nzLg="8">
            <div nz-row [nzGutter]="[20,20]">
                <div nz-col nzXs="24" nzLg="12" *ngFor="let item of list">
                    <div class="card1" [ngClass]="item.key" [class.active]="item.key===activeKey"
                        (click)="selectItem(item)">
                        <div class="card1-header">
                            <span class="icon-box">
                                <span nz-icon nzType="alert"></span>
                            </span>
                            <span>{{ item.title }}</span>
                        </div>
                        <div class="card1-body">
                            <span class="value">{{ item.num || 0 }}</span>
                            <span class="unit">{{ item.unit }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div nz-row [nzGutter]="[20,20]">
        <div nz-col nz-col nzXs="24" nzLg="8">
            <div class="card2">
                <div class="card2-header">
                    <span>支付单数/总单数</span>
                </div>
                <div class="card2-body">
                    <div class="card2-body-item left">
                        <div class="circle">
                            <div class="circle-progress">
                                <nz-progress [nzWidth]="82" [nzStrokeWidth]="6" [nzPercent]="payPrecent" nzType="circle"
                                    [nzShowInfo]="false"></nz-progress>
                            </div>
                            <div class="circle-inner">
                                <span>{{ payPrecent.toFixed(2) }}%</span>
                            </div>
                        </div>
                    </div>
                    <div class="card2-body-item right">
                        <div class="text">
                            支付单数
                        </div>
                        <div class="value">
                            {{ this.data?.payOrderNum }} 单
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col nz-col nzXs="24" nzLg="8">
            <div class="card2">
                <div class="card2-header">
                    <span>支付金额/总金额</span>
                </div>
                <div class="card2-body">
                    <div class="card2-body-item left">
                        <div class="circle">
                            <div class="circle-progress">
                                <nz-progress [nzWidth]="82" [nzStrokeWidth]="6" [nzPercent]="numPrecent" nzType="circle"
                                    [nzShowInfo]="false"></nz-progress>
                            </div>
                            <div class="circle-inner">
                                <span>{{ numPrecent.toFixed(2) }}%</span>
                            </div>
                        </div>
                    </div>
                    <div class="card2-body-item right">
                        <div class="text">
                            支付金额
                        </div>
                        <div class="value">
                            {{ this.data?.payAmountNum }} 元
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col nz-col nzXs="24" nzLg="8">
            <div class="card2">
                <div class="card2-header">
                    <span>支付渠道</span>
                </div>
                <div class="card2-body">
                    <div class="card2-body-item left">
                        <div class="circle chart-circle">
                            <div class="circle-progress">
                                <div #payTypeChart class="type-chart">

                                </div>
                            </div>
                            <div class="circle-inner">
                                <span>{{ data?.payOrderNum }} 笔</span>
                            </div>
                        </div>
                    </div>
                    <div class="card2-body-item right">
                        <div class="type-list">
                            <div *ngFor="let type of payTypes" class="type-item">
                                <span [style.background-color]="type.color" class="type-item-icon">

                                </span>
                                <span style="margin-right: 8px;">
                                    {{type.label}}
                                </span>
                                <span>
                                    {{type.num}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>