<form nz-form [formGroup]="formGroup">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>角色名称</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="'请输入角色名称'">
            <input type="text" nz-input formControlName="name" placeholder="请输入角色名称">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>角色关键字</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" [nzErrorTip]="'请输入角色关键字'">
            <input type="text" nz-input formControlName="value" placeholder="请输入角色关键字">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">角色描述</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
            <input type="text" nz-input formControlName="desc" placeholder="请输入角色描述">
        </nz-form-control>
    </nz-form-item>
</form>
<div *nzModalFooter="">
    <nz-space>
        <button nz-button (click)="cancle()">取消</button>
        <button nz-button nzType="primary" (click)="submit()" [nzLoading]="loading">确定</button>
    </nz-space>
</div>