.kefu {
    color: #606266;

    .form-header {
        display: flex;
        justify-content: space-between;
        height: 50px;
        padding: 0 18px;
        border: 1px solid #e6e6e6;
        background-color: #fbfbfb;
        .left {
            display: flex;
            align-items: center;
            nz-avatar {
                margin-right: 12px;
            }
            span {
                margin-right: 12px;
            }
        }
        .right {
            padding: 0 8px;
            display: flex;
            align-items: center;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .form-body {
        height: 640px;
        display: flex;
        > .left {
            height: 100%;
            width: 303px;
            border: 1px solid #f4f4f4;
            display: flex;
            flex-direction: column;
        }
        > .right {
            flex: 1;
        }
    }

    .chart-header {
        display: flex;
        padding: 6px 0;
        border-bottom: 1px solid #e6e6e6;
        .chart-header-item {
            position: relative;
            display: flex;
            justify-content: center;
            flex: 1;
            cursor: pointer;
            .label {
                display: flex;
                justify-content: center;
                width: 84px;
                height: 26px;
                line-height: 26px;
                font-size: 12px;
                text-align: center;
                border-radius: 18px;
            }
            &.active {
                .label {
                    background: rgba(157, 96, 255, 0.2);
                    color: #7438d5;
                }
            }
            .num {
                display: block;
                padding: 0 6px;
                position: absolute;
                top: 0;
                right: 0;
                background-color: #f35f35;
                color: #fff;
                font-size: 12px;
                border-radius: 9px;
                max-width: 40px;
                height: 18px;
                line-height: 18px;
            }
        }
    }

    .chart-header-container {
        flex: 1;
        overflow: auto;
        background: #f9f9f9;
    }

    .chart-container {
        position: relative;
        height: 500px;
        &.empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .newMessageTips {
            position: absolute;
            cursor: pointer;
            padding: 5px;
            width: 120px;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 5px;
            font-size: 12px;
            border-radius: 10px;
            background-color: #fff;
            color: #2d8cf0;
            border: 1px solid #e9eaec;
            text-align: center;
        }
    }

    .chart-send-container {
        height: 140px;
        width: 100%;
        border-top: 1px solid #e6e6e6;
        .send-tip-container {
            height: 42px;
            display: flex;
        }
    }
    &-icon {
        position: fixed;
        display: flex;
        width: 50px;
        height: 50px;
        background-color: #999;
        border-radius: 25px;
        right: 20px;
        top: 80%;
        background: #7761fb url("/estooaweb/assets/images/menu.gif") center no-repeat;
        background-size: 30px 27px;
        box-shadow: rgba(119, 97, 251, 0.09) 0px 0px 0px 8px;
        animation: dyeing 2s infinite;
        cursor: pointer;
    }
    &-form {
        display: block;
        width: 960px;
        background-color: #fff;
    }
    &-form-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 900;
        transition: all 0.4s;
    }
    &-session-list {
        display: block;
        height: 100%;
        overflow-y: scroll;
    }
    &-session {
        position: relative;
        display: block;
        overflow: hidden;
        border-bottom: 1px solid #f4f4f4;
        background-color: #fff;
        .warp {
            display: flex;
            padding: 12px;
            .avatar {
                position: relative;
                height: 40px;
                width: 40px;
                margin-right: 10px;
                .unread-count {
                    position: absolute;
                    top: -8px;
                    left: 30px;
                    font-size: 12px;
                }
                .badge {
                    max-width: 40px;
                    height: 18px;
                    line-height: 18px;
                    padding: 0 6px;
                    text-align: center;
                    white-space: nowrap;
                    color: #fff;
                    background-color: #f35f35;
                    vertical-align: bottom;
                    border-radius: 10px;
                    display: inline-block;
                    font-size: 12px;
                }
            }
            .content {
                flex: 1;
                height: 40px;
                overflow: hidden;
                .row1 {
                    font-size: 16px;
                    line-height: 21px;
                    display: flex;
                    .name {
                        height: 21px;
                        display: flex;
                        align-items: center;
                        overflow: hidden;
                        flex: 1;
                        & > .text-ellipsis {
                            flex: 1;
                        }
                        .add {
                            padding: 4px 8px;
                            font-size: 12px;
                            cursor: pointer;
                            background-color: rgba(157, 96, 255, 0.2);
                            color: #7438d5;
                            border-radius: 24px;
                        }
                    }
                }
                .row2 {
                    padding-top: 3px;
                    display: flex;
                    font-size: 12px;
                    line-height: 16px;
                    .summary {
                        flex: 1;
                        overflow: hidden;
                        min-width: 0;
                    }
                    .date {
                        padding-left: 10px;
                        text-align: right;
                    }
                }
            }
        }
        .btn-close {
            position: absolute;
            top: 3px;
            right: -20px;
            transition: all 0.2s ease;
            cursor: pointer;
        }
        &:hover {
            .btn-close {
                right: 3px;
            }
        }
        &.active {
            background-color: #ebdfff;
        }
    }
    &-message-list {
        display: block;
        overflow-y: scroll;
        padding: 0 20px;
        width: 100%;
        height: 100%;
        .more {
            display: flex;
            align-items: center;
            justify-content: center;
            span {
                padding: 12px;
                color: #409eff;
                cursor: pointer;
            }
        }
        .no-more {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #a5b5c1;
            padding: 10px;
        }
        &::-webkit-scrollbar {
            width: 2px;
            height: 2px;
        }

        &::-webkit-scrollbar-track {
            background: hsla(0, 0%, 100%, 0.15);
            border-radius: 3px;
            -webkit-box-shadow: inset 0 0 5px rgba(37, 37, 37, 0.05);
        }

        &::-webkit-scrollbar-thumb {
            background: hsla(0, 0%, 100%, 0.2);
            border-radius: 3px;
            -webkit-box-shadow: inset 0 0 5px hsla(0, 0%, 100%, 0.05);
        }

        &::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.06);
            border-radius: 3px;
            -webkit-box-shadow: inset 0 0 5px rgba(0, 21, 41, 0.05);
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.12);
            border-radius: 3px;
            -webkit-box-shadow: inset 0 0 5px rgba(0, 21, 41, 0.05);
        }
    }
}

.message-layout {
    display: flex;
    margin: 16px 0;
    &.position-right {
        flex-direction: row-reverse;
        .col-2 {
            align-items: flex-end;
        }
    }
    &.position-left {
        .col-2 {
            align-items: flex-start;
        }
    }
    &.position-center {
        align-items: center;
        justify-content: center;
    }
    .col-2 {
        display: flex;
        flex-direction: column;
    }
}

.kefu-message {
    .content-warpper {
        display: flex;
        align-items: center;
    }
    .base {
        height: 13px;
        line-height: 13px;
        display: flex;
        margin-top: 3px;
        font-size: 12px;
        color: #a5b5c1;
        &.right {
            margin-right: 15px;
            flex-direction: row-reverse;
        }
        &.left {
            margin-left: 15px;
        }
    }
    .message-bubble {
        display: flex;
        align-items: center;
    }
    .message-status-icon {
        height: 16px;
        width: 16px;
        margin-right: 8px;
    }
    .message-content {
        font-size: 14px;
        padding: 9px 10px;
        max-width: 350px;
        color: #444;
        &.message-send {
            background-color: #ece1ff;
            margin-right: 15px;
            border-radius: 4px;
        }
        &.message-received {
            background-color: #f6f6f6;
            margin-left: 15px;
            border-radius: 4px;
        }
    }
    .file-wrapper {
        cursor: pointer;
        .header {
            display: flex;
            > span {
                font-size: 40px;
            }
            .file {
                margin-left: 12px;
                display: flex;
                flex-direction: column;
                .file-size {
                    font-size: 12px;
                    padding-top: 5px;
                    height: 21px;
                }
            }
        }
    }
    .video {
        width: 100%;
        max-height: 300px;
    }
    .message-status {
        display: flex;
        min-width: 25px;
        margin-right: 10px;
        font-size: 12px;
        color: #6e7981;
        align-items: center;
        justify-content: center;
    }
    .group-tip-element-warpper {
        background-color: #fff;
        padding: 4px 15px;
        border-radius: 3px;
        color: #a5b5c1;
        font-size: 12px;
    }
    .fail {
        display: block;
        background-color: #f35f35;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }
}

.message-send-box {
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 3px 20px 20px 20px;
    .send-bar {
        height: 42px;
        display: flex;
        align-items: center;
        span {
            margin-right: 12px;
            font-size: 16px;
            cursor: pointer;
            &:hover {
                color: #000;
            }
        }
    }
    .send-input {
        height: 80px;
        position: relative;
        .text-input {
            width: 100%;
            height: 100%;
            font-size: 16px;
            resize: none;
            outline: none;
            background-color: transparent;
            border: 0;
        }
        .icon {
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 24px;
            cursor: pointer;
            color: #2d8cf0;
        }
    }
}
.emojis {
    width: 400px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.emoji {
    height: 40px;
    width: 40px;
}

@keyframes dyeing {
    0% {
        box-shadow: rgba(119, 97, 251, 0.5) 0px 0px 0px 0px;
    }
    70% {
        box-shadow: rgba(119, 97, 251, 0) 0px 0px 0px 10px;
    }
    100% {
        box-shadow: rgba(119, 97, 251, 0.02) 0px 0px 0px 0px;
    }
}
