<form nz-form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label nzSm="6" nzXs="24" nzRequired>编码</nz-form-label>
        <nz-form-control nzSm="16" nzXs="24" nzErrorTip="请输入编码">
            <input type="text" nz-input formControlName="sn" autocomplete="off" placeholder="请输入编码">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSm="6" nzXs="24" nzRequired>名称</nz-form-label>
        <nz-form-control nzSm="16" nzXs="24" nzErrorTip="请输入名称">
            <input type="text" nz-input formControlName="name" autocomplete="off" placeholder="请输入名称">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzSm="6" nzXs="24" nzRequired>内部编号</nz-form-label>
        <nz-form-control nzSm="16" nzXs="24" nzErrorTip="请输入内部编号">
            <input type="text" nz-input formControlName="code" autocomplete="off" placeholder="请输入内部编号">
        </nz-form-control>
    </nz-form-item>
</form>
<div *nzModalFooter>
    <nz-space>
        <button nz-button (click)="cancel()">取消</button>
        <button nz-button nzType="primary" [nzLoading]="loading" (click)="submitForm()">确定</button>
    </nz-space>
</div>