.image-container {
    position: relative;
    height: 60px;
    width: 60px;
    .check {
        position: absolute;
        right: -8px;
        top: -8px;
        color: #52c41a;
        font-size: 16px;
        cursor: pointer;
    }
    &:hover {
        .image-tools {
            display: flex;
        }
    }
    .image-tools {
        display: none;
        position: absolute;
        font-size: 16px;
        bottom: 0;
        height: 30px;
        width: 100%;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        & > span {
            cursor: pointer;
        }
        & > span:not(:last-child) {
            margin-right: 8px;
        }
    }
}

.upload-list {
    display: flex;
    flex-wrap: wrap;
    &-item {
        margin-right: 12px;
        margin-bottom: 12px;
    }
}
