.page-container {
    padding: 0;
}

@media screen and(min-width: 768px) {
    .page-container {
        height: 100%;
    }
}

.left-right-layout {
    height: 100%;
    .left {
        height: 100%;
        .tree {
            height: calc(100% - 72px);
            &-content {
                padding: 6px 12px 12px;
                height: 100%;
                overflow: hidden;
            }
        }
    }
    .right {
        height: 100%;
        .table {
            padding: 20px;
        }
    }
}
